#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"Native Kernel\0"
#define REACTOS_STR_INTERNAL_NAME	"kernel.dll\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"kernel.dll\0"
#include <reactos/version.rc>

#include "windows.h"
//#include "errcodes.rc"

#include "locale_rc.rc"

//#include "lang/de-DE.rc"
#include "lang/en-US.rc"
//#include "lang/es-ES.rc"
//#include "lang/ru-RU.rc"
//#include "lang/uk-UA.rc"
